<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="refresh" content="60">-->
    <title>@ViewBag.Title - SMP Web Console</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body style="background-color:#29292d" onload="setTimeout('document.location.reload();', 60000);">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div style="position:absolute; margin:15px ">
            @Html.ActionLink("Logo", "Index", "Monitoring", null, new { @class = "mylogo" })
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Monitoring", "Index", "Monitoring", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li>@Html.ActionLink("Home", "Index", "Home")</li> -->
                    <li>@Html.ActionLink("Options", "Index", "Options")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <!--<li>@Html.ActionLink("Contact", "Contact", "Home")</li> -->
                </ul>
            </div>
        </div>
    </div>
        <div class="body-content">
           
            @RenderBody()            
            <footer class="footer">
                <p>&copy; @DateTime.Now.Year - SPM Web Console</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>
