@using SPM_WebClient.Models

@{
    ViewBag.Title = "Monitoring";
}

<h1 class="page_title">Monitoring</h1>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog" style="width: 350px"></div>
</div>
<div id="readonly_mode_word"><h3>@((Model.IsReadOnly == true) ? "ReadOnly Mode" : "")</h3></div>
<div>
    <div style="float:right">
        <input type="button" style="margin-right:100px" class="btn btn-info" value="Refresh" onclick="location.href='@Url.Action("Index", "Monitoring", new { group_filter = @Model.SelectedGroupName})'" />
    </div>
    <div style="float:right; margin-right:100px">
        @using (Html.BeginForm("Search", "Monitoring", FormMethod.Get, new { enctype = "multipart/form-data" }))
        {
            <div style="float:left"><input type="search" value="@Model.SearchFieldText" name="search_filter" , class="form-control" placeholder="Search host" style="height:25px; padding-top: 5px" /></div>
            <div style="float:left"><input type="submit" value="Search" class="btn btn-warning" style="height:25px; padding-top: 1px" /></div>
        }
    </div>
    <div id="@(Model.Groups.Count > 12 ? "btns_absolute": "btns_fixed")">
        <div style="float:left">
            @using (Html.BeginForm("AddHost", "Monitoring", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" value="@Model.SelectedGroupName" name="selectedgroupname" , id="selectedgroupname" />

                <input type="hidden" value="hostname or IP" name="hostname" , id="hostname" />
                <input type="hidden" value="Description" name="description" , id="description" />
                <input type="hidden" value="Host" name="hosttype" , id="hosttype" />
                <input type="submit" value="Add IP Host" class="newhostbutton" />
            }
        </div>
        <div style="float:left">
            @using (Html.BeginForm("AddHost", "Monitoring", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" value="@Model.SelectedGroupName" name="selectedgroupname" , id="selectedgroupname" />

                <input type="hidden" value="http://yoursite.com" name="hostname" , id="hostname" />
                <input type="hidden" value="Description" name="description" , id="description" />
                <input type="hidden" value="WebHost" name="hosttype" , id="hosttype" />
                <input type="submit" value="Add Web host" class="newhostbutton" />
            }
        </div>
    </div>
    <div name="GroupsList" id="@(Model.Groups.Count > 12 ? "groups_absolute": "groups_fixed")">
        <div style="text-align:center; color:#a1a1a3">
            <h3><b>@Model.GroupsHeader</b></h3>
        </div>
        @foreach (Group curr_group in Model.Groups)
        {
            <button type="button" class="@(curr_group.IsActivated ? "group_button_selected" : "group_button")" onclick="location.href='@Url.Action("Index", "Monitoring", new { group_filter = @curr_group.Name})'">@curr_group.Name</button>
        }
    </div>
    <div name="HostsList" class="hostslist_div">
        @foreach (Host curr_host in Model.Hosts)
        {


            <div class="monitoring_host_div_stringview">
                @using (Html.BeginForm("Index", "Monitoring", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <div id="monitoring_host_status_checkbox_stringview">@Html.CheckBoxFor(Model => curr_host.Status, new { Name = "status", id = "status" }) </div>
                    <div id="monitoring_host_hostname_stringview" class="@((curr_host.IsEnabled) ? (curr_host.Status ? (curr_host.StatusText.Contains("TO LONG") ? "monitoring_host_orange" : "monitoring_host_green") : "monitoring_host_red") : "monitoring_host_black")">@Html.TextBoxFor(Model => curr_host.Hostname, new { Class = "textboxstyle", Style = "width:165px", Name = "hostname", id = "hostname", onchange = "this.form.submit();" })</div>
                    <div id="monitoring_host_description_stringview" class="@((curr_host.IsEnabled) ? (curr_host.Status ? (curr_host.StatusText.Contains("TO LONG") ? "monitoring_host_orange" : "monitoring_host_green") : "monitoring_host_red") : "monitoring_host_black")">@Html.TextBoxFor(Model => curr_host.Description, new { Class = "textboxstyle", Style = "width:160px", Name = "description", id = "description", onchange = "this.form.submit();" })</div>
                    <div id="monitoring_host_group_stringview" class="@((curr_host.IsEnabled) ? (curr_host.Status ? (curr_host.StatusText.Contains("TO LONG") ? "monitoring_host_orange" : "monitoring_host_green") : "monitoring_host_red") : "monitoring_host_black")">@Html.TextBoxFor(Model => curr_host.GroupName, new { Class = "textboxstyle", Style = "width:123px", Name = "groupname", id = "groupname", onchange = "this.form.submit();" })</div>
                    <div id="monitoring_host_statustext_stringview" class="@((curr_host.IsEnabled) ? (curr_host.Status ? (curr_host.StatusText.Contains("TO LONG") ? "monitoring_host_statustext_orange" : "monitoring_host_statustext_green") : "monitoring_host_statustext_red") : "monitoring_host_statustext_white")">

                        <input type="hidden" value="@Model.SelectedGroupName" name="selectedgroupname" , id="selectedgroupname" />
                        <input type="hidden" value="@curr_host.ID" name="hostid" , id="hostid" />

                        <div>
                            @Html.TextBoxFor(Model => curr_host.StatusText, new { Class = ((curr_host.IsEnabled) ? (curr_host.Status ? (curr_host.StatusText.Contains("TO LONG") ? "monitoring_host_statustext_orange" : "monitoring_host_statustext_green") : "monitoring_host_statustext_red") : "monitoring_host_statustext_white"), Style = "width:498px;border-width: 1px;height:24px" })
                        </div>
                    </div>


                    <div id="monitoring_host_notify_checkbox_stringview">Notify:@Html.CheckBoxFor(Model => curr_host.IsNotifyEnabled, new { Name = "isnotifyenabled", id = "isnotifyenabled", onclick = "this.form.submit();" }) </div>
                    <div id="monitoring_host_isenabled_checkbox_stringview">Enabled:@Html.CheckBoxFor(Model => curr_host.IsEnabled, new { Name = "isenabled", id = "isenabled", onclick = "this.form.submit();" }) </div>



                    @Html.ActionLink("Details", "Details", new { hostname = curr_host.Hostname }, new { @class = "monitoring_host_details_stringview" })


                }

                <div style="float:left; margin-left:15px">
                    @using (Html.BeginForm("RemoveHost", "Monitoring", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" value="@Model.SelectedGroupName" name="selectedgroupname" , id="selectedgroupname" />
                        <input type="hidden" value="@curr_host.ID" name="hostid" , id="hostid" />
                        <input type="submit" value="Delete" class="removehosts_btn" onclick="return confirm('Do you really want to delete this host?')" />
                    }
                </div>

            </div>




        }
    </div>
</div>

    @section scripts
    {
        <script type="text/javascript">

            $(function () {
                $.ajaxSetup({ cache: false });
                $(".monitoring_host_details_stringview").click(function (e) {

                    e.preventDefault();
                    $.get(this.href, function (data) {
                        $('#dialogContent').html(data);
                        $('#modDialog').modal('show');
                    });
                });
            })
        </script>
    }
